    <header>
        <nav class="navbar navbar-expand-lg bg-indigo">
            <div class="container collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Cams" class="nav-link text-light">Камеры города</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://client.tclk.ru/" class="nav-link text-light">Личный кабинет</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mid-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a asp-asp-controller="Home" asp-action="Index" class="nav-link text-dark">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Телевидение</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Интернет</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Видеонаблюдение</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Оплатить</a>
                        </li>
                    </ul>
                    <span class="navbar-text ms-auto my-2 my-lg-0 text-dark text-center">
                        8 (38456) 3-60-00 <br> Служба поддержки
                    </span>
                </div>
            </nav>
        </div>
    </header>